:root {
    --main-bg-color: #f1f5f9;
    --main-border-color: #d5dadf;
}

* {
    box-sizing: border-box;
}

body {
    margin:  0;
    background-color: #e5ecef;
    font-family:  Helvetica, Arial, sans-serif;
    font-size:  18px;
    line-height:  1.7;
}

.wrapper {
    max-width:  800px;
    margin:  auto;
    overflow: hidden;
    background-color: #fff;
    box-shadow:  -2px 0 10px rgba(188,190,202,0.32);
}

header {
    padding: 30px 20px;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-border-color);
}

header h1 {
    margin:  0;
    text-align:  center;
    line-height: 1.3;
}

ul {
    margin:  0;
    padding:  0;
    list-style:  none;
}

.tabs ~ .tabs {
    border-top: 1px solid var(--main-border-color);
}

nav.tabs-navigation ul {
    display:  flex;
    align-items:  center;
    justify-content:  center;
    flex-wrap: wrap;
}

nav.tabs-navigation ul li a {
    background-color: var(--main-bg-color);
    padding:  10px 15px;
    display:  block;
    text-decoration:  none;
    color:  #555;
}

nav.tabs-navigation {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-border-color);
    padding: 0 20px;
}

nav.tabs-navigation ul li.selected a {
    color: #000;
    background-color:  #fff;
    position: relative;
}

nav.tabs-navigation ul li.selected a:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0080ff;
    position: absolute;
    left: 0;   
    bottom: -1px;
}

ul.tabs-content {
    padding:  40px;
}

ul.tabs-content li p {
    margin:  0;
    color: #555;
}

ul.tabs-content li p ~ p {
    margin-top:  20px;
}

ul.tabs-content li:not(.selected) {
    display:  none;
}

ul.tabs-content li.selected {
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }

    100% {
        opacity: 1;
    }
}